.singleProduct {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
}

.singleProduct:hover {
  box-shadow: 0 0 10px 1px #ccc;
}

.singleProduct .details {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  flex-wrap: wrap;
}

.singleProduct .details .current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin-left: 10px;
}

.singleProduct .details .current span {
  font-size: 11px;
}

.singleProduct .details .current span strong {
  margin-left: 5px;
  font-size: 12.5px;
}

.singleProduct .details div {
  display: flex;
}

.singleProduct .details span.number {
  font-weight: 300;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #1e40af; */
  border-bottom: 2px solid #444;
}

.singleProduct .edit {
  background-color: transparent;
  font-size: 16px;
  border: 1px solid blueviolet;
  color: blueviolet;
  padding: 0 10px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.singleProduct .edit:hover {
  background-color: blueviolet;
  color: #fff;
}

@media (max-width: 550px) {
  .singleProduct .details {
    width: 60%;
    font-size: 14;
  }

  .singleProduct .edit {
    font-size: 13px;
  }
}

@media (max-width: 465px) {
  .singleProduct .details {
    min-width: 70%;
  }

  /* .singleProduct .details .current {
    width: 100%;
    order: 1;
    margin-top: 5px;
    align-items: flex-end;
  } */
}
