.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #8a2387, #e94057, #f27121);
  padding: 20px;
}
